<h1>Selecione uma cidade</h1>

<%= form_tag(previsao2_path, method: "get") do %>
  <%= select_tag(:cidade_id, options_for_select(@cidades)) %>
  <%= submit_tag("Obter previsão") %>
<% end %>

<% if @previsao2.present? %>
  <h2>Previsão do clima para os próximos 7 dias:</h2>
  <% @previsao2.each do |dia| %>
    <h3><%= dia[:data] %></h3>
    <h3><%= dia[:dia] %></h3>
    <p>Agitação: <%= dia[:agitacao] %></p>
    <p>Altura: <%= dia[:altura] %></p>
    <p>Direção: <%= dia[:direcao] %></p>
    <p>Vento: <%= dia[:vento] %></p>
    <p>Direção do vento: <%= dia[:vento_dir] %></p>
  <% end %>
<% end %>

<!-- <h1>Dados Climáticos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>UF</th>
      <th>ID</th>
    </tr>
  </thead>
  <tbody>
    <% @data.each do |cidade| %>
      <tr>
        <td><%= cidade[0] %></td>
        <td><%= cidade[1] %></td>
        <td><%= cidade[2] %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->
